*{
    font-family: arial;
}
.container{
    width: 100%;height: 100%;
}
.menubar{
    height: 50px;width: 100%;
   line-height: 50px;
    background-color: white;
    transition: 0.5s;
   position: fixed;top: 0px;
   z-index: 999999999;
}
.left-menu,.right-menu{
    width: 50%;
    float: left;
}
.right-menu li{
    display: inline-block;
}
.right-menu ul{
    word-spacing:30px;
    margin: 0px;
    text-transform: uppercase;
}
.left-menu h4{
    font-weight: normal;
    font-size: 25px;
    text-indent: 100px;
    margin: 0px;
}
.right-menu a{
    color: black;text-decoration: none;
}
.banner{
    width: 100%;
    background-image:url('https://demo.colorlib.com/wp-content/uploads/sites/59/2016/12/photo-1451417379553-15d8e8f49cde.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.banner-text{
    width: 50%;
    margin: 0px auto;
    padding: 150px 0px;
    text-align: center;
    color: white;
}
.banner-text h1{
    font-size: 50px;
    font-weight: 400;
}
.blog-text h1 ,.project-section h1{
    font-weight: 400;
}
.banner-text button, .c-text button, .blog-banner button{
    height: 50px;
    width: 200px;
    color: white;
    font-weight: bold;
}
.banner-text p{
    margin-bottom: 30px;
}
.left-btn{
    background-color: #6c67ab;border: none;
}
.right-btn{
    background-color: transparent;
    border: 2px solid white;
    box-sizing: border-box;
}
.content{
    height: 500px;width: 100%;
}
.c-box{
    width: 50%;
    float: left;height: 100%;
}
.c-box img{
    height: 500px;
    width: 100%;
}
.c-text{
    width: 60%;
    margin: 100px auto;
}
.c-text p, .blog-text p{
    color: gray;line-height: 25px;font-size: 18px;
}
.blog-banner{
    background-color: lightgray;text-align: center;
}
.blog-text{
    width: 80%;margin: 0px auto;text-align: center;
}
h1{
    margin: 0px;
}
.project-section{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    float:left;
}
.pro-heading{
    margin:50px 0px;
}
.project-images{
    width: 100%;
    float: left;
    margin-bottom: 100px;
}
.pro-img{
    height: 250px;width: 25%;background:url('../images/blog.jpg');
    background-size: 100% 100%;float: left;
    position: relative;
    overflow: hidden;
}
.pro-text{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top:250px;
    transition: 0.5s;
    line-height: 250px;
}
.pro-img:hover .pro-text{
    top:0px;
}
.left-btn:hover{
    background-color: #675de8;
    cursor: pointer;
}